
html { scroll-behavior: smooth;}

body {
    background-color: rgb(26, 26, 26);
}

/*-----------------Nav Bar----------------- */

header {
    position: absolute;
    z-index: 1;
    max-width: fit-content;
}

.nav-button-color {
    color: brown;
}

/*-----------------Hero Image----------------- */

.hero-section {
    width: 100%;
    overflow: hidden;
}
.hero-image { 
    /* Cant get this to work just yet, not responsive leaves blank space to right of img when shrunk */
    /* breaks at  around 1606 px wide */
    background-image: url(../images/SpotifyBanner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.hero-text {
    color: greenyellow;
    text-align: center;

}

.text-center {
    text-align: center;
}

/*-----------------About Us----------------- */
#tommy-about {
    height: 400px;
}

#clem-about {
    height: 400px;
}

#marcus-about {
    height: 400px;
}

#andy-about {
    height: 400px;
}

.about-us-left {
    color: brown;
}

.about-us-right {
    color: blue;
}

/*-----------------Upcoming Gigs----------------- */

.upcoming-gigs {
    height: 300px;
    text-align: center;
}

/*-----------------Gallery----------------- */

/*-----------------Mailing List----------------- */


/*-----------------Footer----------------- */

.footer {
    text-align: center;
}
.footer-item {
    list-style: none;
    display: inline;  
    font-size: 200%;
    letter-spacing: 10px ;
}

a:hover {
    text-decoration: none;
}